<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Welcome, <%= @user.first_name %>!</h1>
			<p><a href="users/<%= @user.id %>/edit">Edit Profile</a><span></span>
					<a href="/logout">Logout</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Here are some of the events in your state:</h2>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date</th>
					<th>Location</th>
					<th>Host</th>
					<th>Action/Status</th>
				</tr>
			</thead>
			<tbody>
<%			if @user_in_state
			@user_in_state.each do |event|
%>
				<tr>
					<td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
					<td><%= event.date %></td>
					<td><%= event.location_city %></td>
					<td><%= event.user.first_name %></td>
					<td>
						<% if @user.id == event.user_id %>
						<p><a href="events/<%= event.id %>/edit">Edit</a></p>
						<p><a href="delete/<%= event.id %>">Delete</a></p>
						<%elsif event.eventusers.where(user_id: @user.id).empty? %>
						<form action='/eventusers' method='post'>
							<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
							<input type='hidden' name='user_id' value='<%= @user.id %>'>
							<input type='hidden' name='event_id' value='<%= event.id %>'>
							<input type='submit' value='Join'>
							</form>
						<% else %>
							Joining<span></span>
							<form action='/eventusers/<%= event.eventusers.find_by(user_id: @user.id).id %>' method='post'>
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
								<input type="hidden" name="_method" value="delete">
								<input type='hidden' name='user_id' value='<%= @user.id %>'>
								<input type='hidden' name='event_id' value='<%= event.id %>'>
								<input type='submit' value='Cancel'>
							</form>
							<% end %>
					</td>							
				</tr>
				<% end 	 
			end
%>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Here are some of the events going on in other states:</h2>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date</th>
					<th>Location</th>
					<th>State</th>
					<th>Host</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<% 			if @user_out_state
							@user_out_state.each do |event| 
			%>	
				<tr>
					<td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
					<td><%= event.date %></td>
					<td><%= event.location_city %></td>
					<td><%= event.state %></td>
					<td><%= event.user.first_name %></td>	
					<td>
						<% if @user.id == event.user_id %>
						<p><a href="events/<%= event.id %>/edit">Edit</a></p>
						<p><a href="delete/<%= event.id %>">Delete</a></p>
						<%elsif event.eventusers.where(user_id: @user.id).empty? %>
							<form action='/eventusers' method='post'>
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
								<input type='hidden' name='user_id' value='<%= @user.id %>'>
								<input type='hidden' name='event_id' value='<%= event.id %>'>
								<input type='submit' value='Join'>
							</form>
						<% else %>
							<form action='/eventusers/<%= event.eventusers.find_by(user_id: @user.id).id %>' method='post'>
								Joining<span></span>
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
								<input type="hidden" name="_method" value="delete">
								<input type='hidden' name='user_id' value='<%= @user.id %>'>
								<input type='hidden' name='event_id' value='<%= event.id %>'>
								<input type='submit' value='Cancel'>
							</form>
						<% end %>
					</td>							
				</tr>
				<% end 	
				end
%>
			</tbody>
		</table>
	</div>
		<div class="col-xs-12">
			<h2>Add Event</h2>
			<p><%= @invalid %></p>
			<form action='/events' method='post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
				<input type='hidden' name='event[user_id]' value='<%= @user.id %>'>
				<table>
					<tbody>
						<tr>
							<td>Name: </td>
							<td><input type='text' name='event[name]'></td>
						</tr>
						<tr>
							<td>Date: </td>
							<td><input type='date' name='event[date]'></td>
						</tr>
						<tr>
							<td>Location: </td>
							<td>
								<input type='text' name='event[location_city]'>
					
								<select name='event[state]'>
									<!-- loop through states array  -->
<% 								@states.each do |state| 
%>									<option><%= state %></option>		
<% 								end
%>	
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				<input type='submit' value='Add Event'>
			</form>
		</div>
	</div>
</div>