<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p><a href="/events">Event Dashboard</a><span></span>
					<a href="/logout">Logout</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-7">
			<h2><%= @event.name %></h2>
			<h3>Host: <%= @event.user.full_name %></h3>
			<h3>Date: <%= @event.date %></h3>
			<h3>Location: <%= @event.location_city %>, <%= @event.state %></h3>
			<h3>People who are joining the event: <%= @event.eventusers.count %></h3>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Location</th>
						<th>State</th>
					</tr>
				</thead>
				<tbody>
<%				@event.users.each do |joining|
%>				<tr>
						<td><%= joining.full_name %></td>
						<td><%= joining.location_city %></td>
						<td><%= joining.state %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class="col-xs-5">
			<h3>Discussion about this event:</h3>
			<div class="comments">
				<% @event.comments.each do |comment|%>
					<p>	<%= comment.user.first_name%>	says: <%= comment.comment %></p>
					<span>~~~~~~~~~~~~~~~~~~~~~~</span>
				<% end %>	
			</div>
			<h4>Add Comment</h4>
			<form method='post' action='/comments'>
				<textarea name='comment'></textarea>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" /><br>
				<input type='hidden' name='user_id' value='<%=@id%>'>
				<input type='hidden' name='event_id' value='<%= params[:id]%>'>
				<input type='submit' value='Submit Comments'>
			</form>
		</div>
	</div>
</div>